Repository SSUMC-6th/Spring_Boot_D, pull requests merged in 2024-06, with the labels that each got.

#34 [randy]Chapter 8. API 응답 통일 & 에러 핸들러
  docs/chapter8/Ch08Keyword.md
  src/mission/chapter8/Ch08Mission.md
Labels: ✨ Chapter08

#36 [uni] Chpater08_API 응답 통일 & 에러 핸들러
  docs/chapter8/Ch08keyword.md
  docs/chapter8/Ch08keyword.txt
  src/mission/chapter8
  src/practice/chapter8
Labels: ✨ Chapter08

#37 [uni] Chapter 9. API & Swagger & Annotation
  docs/chapter9/Ch09keyword.md
  docs/chapter9/Ch09keyword.txt
  src/mission/chapter9
Labels: ✨ Chapter09

#38 [randy]Chapter 9. API & Swagger & Annotation
  docs/chapter9/Ch09Keyword.md
  src/mission/chapter9/Ch09Mission.md
  src/mission/chapter9/Ch09Mission.png
Labels: ✨ Chapter09

#40 [ohii] Chapter10_API & Paging
  docs/chapter10/Ch10keyword.txt
  src/mission/chapter10.txt
Labels: ✨ Chapter10

#41 [randy]Chapter 10. API & Paging
  docs/chapter10/Ch10Keyword.md
  src/mission/chapter10/Ch10Mission.md
  src/mission/chapter10/Ch10Mission.png
Labels: ✨ Chapter10

#43 [uni] Chapter10_API & Paging
  docs/chapter10/Ch10keyword.md
  docs/chapter10/Ch10keyword.txt
  src/mission/chapter10
Labels: ✨ Chapter10

#44 [uni] Chapter11_무중단 CI/CD (Github Action+AWS Elastic Beanstalk)
  docs/chapter11/Ch11keyword.md
  docs/chapter11/Ch11keyword.txt
  src/mission/chapter11
Labels: ✨ Chapter11
